nav{
    display: block;
    background-color:black;
    
}
nav ul{
    list-style: none;
    margin-left: 70%;

}
nav li{ 
    display: inline-block;
   padding-right: 20px;
   
}
.logo{
    font-size: 30px;
    color: white;
    margin-left: 10%;
    
}
nav a{
    font-size: 20px ;
   color: white;
}
img{
    width:250px;
    height: 200px;
    margin-right: 8px;
    margin-top: 15px;
}
h1{
    font-family: cursive;
    text-align: center;
}




