h1{
    font-family: monospace ;
    text-align: center;
    font-weight: bold;
    font-size:40px;
}
ul{
    list-style-type:circle ;
}
img{
    width: 200px; height: 200px;
}
ul{
    text-decoration: dotted;
}