nav{
    display: block;
    background-color:black;
    
}
nav ul{
    list-style: none;
    margin-left: 60%;

}
nav li{ 
    display: inline-block;
   padding-right: 20px;
   
}
.logo{
    font-size: 30px;
    color: white;
    margin-left: 10%;
    
}
nav a{
    font-size: 20px ;
   color: white;
}

img{
    width:250px;
    height: 200px;
    margin-right: 12px;
    margin-top: 15px;
}
h1{
    font-family: cursive;
    text-align: center;
}

.contDetails{
    width: 20%;
  
}
.contBox{
    background-color: white;
    display: flex;
}
.contLeft{
    flex-basis: 20%;
    padding: 20px 60px;
}
.contRight{
    flex-basis: 20%;
    padding: 20px;
    background-color:black;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
button {
    border-radius: 15px;
    background-color:#1888a7;
    color: white;
}
form{
    text-align: center;
    margin-top: 40px;
    
}
.log{
    border: 150px;
    background-color:none;
    color: black;
}
p {
    text-align: center;
}
h2{
    text-align: center;
    font-family: cursive;
}
h3{
    font-family: cursive;
}