h1{
    text-align:center;
    padding-top: 10%;
    color: black;
    
}
div{
    /*ADDING border and styling it*/
    border-style: solid;
    
    /*margin-top: 12%;*/
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
ul{
    list-style: circle;
}
body{
    
   background-image: url(../project1/images/8-infinity-pool-with-sea-view-house.jpg);
  background-size: cover;


}
